<!DOCTYPE html>
<html lang="es">

    <head>

        <meta charset="utf-8">
        <title>{% block title %}SoftPere{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="SoftPere desarroyo web">
        <meta name="author" content="Pedro Sastre">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

{% include 'BraincraftedBootstrapBundle::_stylesheets.html.twig' %}

{% include 'BraincraftedBootstrapBundle::_html5shiv.html.twig' %}
        <style>
                body {
                    padding-top: 60px;
                    padding-bottom: 40px;
                }
            </style>
        </head>

        <body data-spy="scroll" data-target=".bs-docs-sidebar">



{% block body %}{% endblock %}

            <!-- Footer
            ================================================== -->
            <footer class="footer">
                <div class="container">
                    <p class="pull-right"><a href="#">Subir</a></p>
                    <p>Spain por <a href="http://softpere.com">Pedro Sastre</a>.</p>
                    <p>Diseñado con Bootstrap <a href="http://twitter.com/twitter" target="_blank">@twitter</a> by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>.</p>
                    <p>Licencia de Javascrip <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>. Symfony2 bundle licensed under the <a href="http://opensource.org/licenses/MIT">MIT License</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
                    <p>Iconos por <a href="http://glyphicons.com">Glyphicons Free</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
                    <ul class="footer-links">
                        <li><a href="http://braincrafted.com">lee mi Blog/a></li>
                        <li><a href="https://github.com/braincrafted/bootstrap-bundle/issues?state=open">Registrese</a></li>
                        <li><a href="https://github.com/braincrafted/bootstrap-bundle/wiki">Roadmap y cambios</a></li>
                    </ul>
                </div>
            </footer>

{% include 'BraincraftedBootstrapBundle::_javascripts.html.twig' %}
            <script src="{{ asset('/bundles/braincraftedbootstrapdemo/js/application.js') }}"></script>
            <script src="/bundles/braincraftedbootstrapdemo/js/google-code-prettify.js"></script>
            <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
            <script src="{{ asset('bundles/braincraftedbootstrap/js/jquery-1.7.2.min.js') }}"></script>
            <script src="{{ asset('bundles/braincraftedbootstrap/js/bootstrap.js') }}"></script>

        </body>

    </html>