<ul class="nav">
    <li><a href="{{ path('pagina_estatica', { 'pagina': 'ayuda' }) }}">Ayuda</a></li>
    <li><a href="{{ path('pagina_estatica', { 'pagina': 'contacto' })}}">Contacto</a></li>
    <li><a href="{{ path('pagina_estatica', { 'pagina': 'privacidad' })}}">Privacidad</a></li>
    <li><a href="{{ path('pagina_estatica', { 'pagina': 'sobre-nosotros' })}}">Sobre nosotros</a></li>
</ul>
