
{% extends 'FrondBundle::layout.html.twig' %}
{% block title %} Página de Ayuda{% endblock %}
{% block content %}
<div class="hero-unit">
    <h1>Página de Ayuda</h1>
</div>
<div class="row">


    <div class="span3 offset4"> 
        prueba de span 3 offse 4
    </div>
</div>
{% endblock %}